<!-- Add Modal -->
<div class="modal fade" id="addItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addItem">Add a Resource</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/" method="POST" onsubmit="return validateCategories()">
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-3" id="name" name="name" placeholder="Name">
            <label for="name">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-3" id="link" name="link" placeholder="URL" required>
            <label for="link">URL</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-3" id="icon" name="icon" placeholder="Image URL">
            <label for="icon">Image URL</label>
          </div>
          <div class="form-check d-flex flex-wrap justify-content-center mb-2 me-4">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
              <input type="checkbox" class="btn-check form-check-input" id="frontend" name="category" value="Frontend">
              <label class="btn btn-outline-dark w-100 text-truncate" for="frontend">Frontend</label>
            </div>
          
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
              <input type="checkbox" class="btn-check form-check-input" id="backend" name="category" value="Backend">
              <label class="btn btn-outline-dark w-100 mb-2 text-wrap" for="backend">Backend</label>
            </div>
          
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
              <input type="checkbox" class="btn-check form-check-input" id="documentation" name="category" value="Documentation">
              <label class="btn btn-outline-dark w-100 mb-2 text-wrap" for="documentation">Documentation</label>
            </div>
          
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
              <input type="checkbox" class="btn-check form-check-input" id="forums" name="category" value="Forums">
              <label class="btn btn-outline-dark w-100 mb-2 text-wrap" for="forums">Forums</label>
            </div>
          
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
              <input type="checkbox" class="btn-check form-check-input" id="others" name="category" value="Others">
              <label class="btn btn-outline-dark w-100 mb-2 text-wrap" for="others">Others</label>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button class="w-25 mb-2 btn rounded-3 btn-dark" type="submit">Add Link</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="alertModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alert</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please select at least one category!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>