<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-custom">
  <div class="container">
      <a class="navbar-brand" href="/">
          <img class="rounded" src="https://i.postimg.cc/QMTQXH6k/6b112d96-b771-490a-aad2-05fd67e915d2.jpg" width="35px" height="35px" class="align-middle me-1" alt="My Website">
          Source Kode</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar2" aria-controls="myNavbar2" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>


      <div class="lc-block collapse navbar-collapse" id="myNavbar2">
          <div lc-helper="shortcode" class="live-shortcode me-auto"> 
              <ul id="menu-menu-1" class="navbar-nav me-auto mb-2 mb-md-0 navbar-nav">
                  <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-32739"><a href="/" class="nav-link ">Home</a></li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home nav-item nav-item-32738"><a href="/resources" class="nav-link ">Resources</a></li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home nav-item nav-item-32738"><a href="/notes" class="nav-link ">Notes</a></li>
              </ul> 
          </div>
      </div>
  </div>
</nav>