<!-- Update Modal -->
<div class="container mt-5">
  <a href="/resources" class="back-button text-decoration-none">
    <i class="svgIcon fa-solid fa-arrow-left"></i>
  </a>
  <div class="row">
    <form action="/<%= updateLink.slug %>?_method=PUT" method="POST" class="d-flex flex-column align-items-center" onsubmit="return validateCategories()">
        <div class="col-sm-8 form-floating mb-3">
          <input type="text" value="<%= updateLink.name %>" class="form-control rounded-3" id="name" name="name" placeholder="Name">
          <label for="name">Name</label>
        </div>
        <div class="col-sm-8 form-floating mb-3">
          <input type="text" value="<%= updateLink.link %>" class="form-control rounded-3" id="link" name="link" placeholder="URL" required>
          <label for="link">URL</label>
        </div>
        <div class="col-sm-8 form-floating mb-3">
          <input type="text" value="<%= updateLink.icon %>" class="form-control rounded-3" id="icon" name="icon" placeholder="Image URL">
          <label for="icon">Image URL</label>
        </div>
        <div class="form-check d-flex justify-content-between mb-2 me-4">
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-2">
            <input type="checkbox" class="btn-check form-check-input" id="frontend" name="category" value="Frontend">
            <label class="btn btn-outline-dark w-100 mb-2" for="frontend">Frontend</label>
          </div>
        
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-2">
            <input type="checkbox" class="btn-check form-check-input" id="backend" name="category" value="Backend">
            <label class="btn btn-outline-dark w-100 mb-2" for="backend">Backend</label>
          </div>
        
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-2">
            <input type="checkbox" class="btn-check form-check-input" id="documentation" name="category" value="Documentation">
            <label class="btn btn-outline-dark w-100 mb-2" for="documentation">Documentation</label>
          </div>
        
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-2">
            <input type="checkbox" class="btn-check form-check-input" id="forums" name="category" value="Forums">
            <label class="btn btn-outline-dark w-100 mb-2" for="forums">Forums</label>
          </div>
        
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-2">
            <input type="checkbox" class="btn-check form-check-input" id="others" name="category" value="Others">
            <label class="btn btn-outline-dark w-100 mb-2" for="others">Others</label>
          </div>
        </div>
          <button class="col-auto mb-2 btn rounded-3 btn-dark" type="submit">Update Link</button>
      </form>
    </div>
</div>

<div class="modal fade" id="alertModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alert</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please select at least one category!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>