
<div class="body">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
          <% quotes.forEach(quote => { %>
          <a href="/" type="button" class="text-decoration-none">
            <h1 class="cover-heading"><%= quote.a %></h1>
            <p class="lead"><%= quote.q %></p>
          </a>
          <div class="d-flex flex-reverse mt-5">
            <p class="lead ms-auto">
              <a href="/resources" class="btn btn-secondary">Explore Resources</a>
              <a href="/notes" class="btn btn-secondary">Explore Notes</a>
            </p>
          </div>
          <% }) %>
        </main>
      </div>
</div>
